<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Simplify Your Work</span>
      <div class="text-6xl text-primary font-bold mb-3">
        Automate Student Hour Tracking
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        StudentLog streamlines the process of tracking work hours, calculating
        earnings, and obtaining approvals, all in one place. No more Excel
        sheets or unnecessary emails—just simple, efficient automation.
      </p>

      <button
        pButton
        pRipple
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></button>
      <a
        [routerLink]="['/auth']"
        pButton
        pRipple
        label="Sign in"
        type="button"
        class="no-underline p-button-outlined"
      ></a>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/hero-1.png"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

<div class="surface-section px-1 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">One App, </span>
    <span class="text-blue-600">Endless Efficiency</span>
  </div>
  <div class="text-700 mb-6">
    StudentLog automates hour tracking and approval, making your work life
    easier.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-clock text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Track Work Hours</div>
      <span class="text-700 line-height-3"
        >Easily log your work hours using an intuitive interface. Whether you're
        working independently or as part of a company, keeping track of your
        time has never been easier.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-chart-line text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">
        Automated Calculations
      </div>
      <span class="text-700 line-height-3"
        >Let StudentLog handle the math. From earnings calculations to tax
        deductions, our system automatically computes everything you need.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-file-export text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Export Data Easily</div>
      <span class="text-700 line-height-3"
        >Export your hours and earnings data in various formats, including
        Excel, PDF, and PNG, making it easy to share with HR or for personal
        records.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-users text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Team Collaboration</div>
      <span class="text-700 line-height-3"
        >Work seamlessly with your team. Supervisors can easily review and
        approve hours, streamlining the entire workflow.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-lock text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Secure & Private</div>
      <span class="text-700 line-height-3"
        >Your data is protected with end-to-end encryption, ensuring that all
        your information remains private and secure.</span
      >
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-cog text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">
        Customizable Workflows
      </div>
      <span class="text-700 line-height-3"
        >Tailor the application to fit your specific needs. Set custom rules for
        overtime, holidays, and more to match your work style.</span
      >
    </div>
  </div>
</div>

<div class="surface-section px-1 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-blue-600 font-bold mb-3">
      <i class="pi pi-shield"></i>&nbsp;TRUSTED BY STUDENTS AND COMPANIES
    </div>
    <div class="text-900 font-bold text-5xl mb-3">
      Join the Future of Work Hour Management
    </div>
    <div class="text-700 text-2xl mb-5">
      Say goodbye to manual hour tracking and embrace efficiency. Start using
      StudentLog today.
    </div>
    <button
      pButton
      pRipple
      label="Get Started"
      icon="pi pi-arrow-right"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
    ></button>
  </div>
</div>
