<p-menubar>
  <ng-template pTemplate="start">
    <div class="d-flex align-items-center">
      <button
        pButton
        type="button"
        icon="pi pi-bars"
        class="p-button-rounded p-button-text"
      ></button>
      <span>Dashboard</span>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="d-flex align-items-center">
      <button
        pButton
        type="button"
        icon="pi pi-cog"
        class="p-button-rounded p-button-text"
      ></button>
      <img
        src="assets/avatar.png"
        alt="User Avatar"
        height="40"
        class="p-ml-2"
      />
    </div>
  </ng-template>
</p-menubar>
