@if(!userHasCurrentMonthData || !userHasData) {
<div
  class="surface-ground px-4 py-5 md:px-6 lg:px-8 w-screen min-h-screen flex justify-content-center align-items-center"
>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="flex justify-content-end mb-4">
      <button
        pButton
        pRipple
        label="Back"
        icon="pi pi-arrow-left"
        class="p-button-text"
        [routerLink]="['/']"
      ></button>
    </div>

    <div class="mb-4">
      <h2 class="text-center text-2xl font-bold mb-3">
        {{ currentMonth }} {{ currentYear }}
      </h2>
      <p class="text-center">You don't have any data for the current month.</p>
    </div>

    <div class="text-center">
      <button
        pButton
        pRipple
        label="Start"
        icon="pi pi-plus"
        class="p-button-rounded"
        (click)="startCollectingData()"
      ></button>
    </div>
  </div>
</div>
} @else {
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="flex flex-row justify-content-start align-items-center">
    <h1>{{ currentMonth }} {{ currentYear }}</h1>
  </div>
  <app-statistics
    *ngIf="currentMonthData"
    [statistics]="currentMonthData.statistics"
  ></app-statistics>
  <div class="shadow-2 border-round mt-5">
    <app-calendar
      *ngIf="currentMonthData"
      [days]="currentMonthData.days"
      [statistics]="currentMonthData.statistics"
      (updateData)="updateData($event)"
    ></app-calendar>
  </div>
</div>
}

<p-toast />
